<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gametime: Pre-Season Football Leaderboard</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>

      <div class = "container">
        <%= yield %>
      </div>

  </body>
</html>
